/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --first-color:#20B3A1;
    --second-color:#15BFF0;
    --third-color:#4AD18E;
    --third-border-color:#c5e3d4;
    --third-hover-color:#008f47;
    --fourth-color:#F09015;
    --fourth-hover-color:#c97100;
    --fourth-border-color:#f7e0c3;
    --dark-color:#344A58;
    --dark-p-color:#6e93aa;
    --dark-hover-color:#c97100;
    --dark-border-color:#f7e0c3;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--dark-p-color);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

h1 {
    color: var(--first-color);
    text-align: center;
}

h4 {
    color: var(--dark-color);
}

.navbar {
    padding: 3px 3px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.btn-outline-fourth {
  color: var(--fourth-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--fourth-color);
}

.btn-outline-fourth:hover {
  color: #fff;
  background-color: var(--fourth-color);
  border-color: var(--fourth-color);
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: var(--fourth-color);
  border-color: var(--fourth-color);
}

.btn-outline-fourth:focus, .btn-outline-fourth.focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 144, 21, 0.5);
}

.btn-outline-fourth.disabled, .btn-outline-fourth:disabled {
  color: var(--fourth-color);
  background-color: transparent;
}

.btn-outline-fourth:not(:disabled):not(.disabled):active, .btn-outline-fourth:not(:disabled):not(.disabled).active,
.show > .btn-outline-fourth.dropdown-toggle {
  color: #fff;
  background-color: var(--fourth-color);
  border-color: var(--fourth-color);
}

.btn-outline-fourth:not(:disabled):not(.disabled):active:focus, .btn-outline-fourth:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-fourth.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 144, 21, 0.5);
}


.btn-third {
  color: #fff;
  background-color: var(--third-color);
  border-color: var(--third-border-color);
}

.btn-third:hover {
  color: #fff;
  background-color: var(--third-hover-color);
  border-color: var(--third-border-color);
}

.btn-third:focus, .btn-third.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-third.disabled, .btn-third:disabled {
  color: #fff;
  background-color: var(--third-hover-color);
  border-color: var(--third-border-color);
}

.btn-third:not(:disabled):not(.disabled):active, .btn-third:not(:disabled):not(.disabled).active,
.show > .btn-third.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-third:not(:disabled):not(.disabled):active:focus, .btn-third:not(:disabled):not(.disabled).active:focus,
.show > .btn-third.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-fourth {
  color: #fff;
  background-color: var(--fourth-color);
  border-color: var(--fourth-border-color);
}

.btn-fourth:hover {
  color: #fff;
  background-color: var(--fourth-hover-color);
  border-color: var(--fourth-border-color);
}

.btn-fourth:focus, .btn-fourth.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-fourth.disabled, .btn-fourth:disabled {
  color: #fff;
  background-color: var(--fourth-hover-color);
  border-color: var(--fourth-border-color);
}

.btn-fourth:not(:disabled):not(.disabled):active, .btn-fourth:not(:disabled):not(.disabled).active,
.show > .btn-fourth.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-fourth:not(:disabled):not(.disabled):active:focus, .btn-fourth:not(:disabled):not(.disabled).active:focus,
.show > .btn-fourth.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


.flex-container{
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;

  width: 400px;
  height: 200px;
  background-color: #3498db;
}


.btn-link {
  font-weight: 400;
  color: var(--third-hover-color);
  background-color: transparent;
}

.btn-link:hover {
  color: var(--third-hover-color);
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: var(--third-hover-color);
  pointer-events: none;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--third-color);
  background-color: #fff;
  border: 1px solid var(--third-border-color);
}

.page-link:hover {
  z-index: 2;
  color: var(--third-hover-color);
  text-decoration: none;
  background-color: #ebe6e1;
  border-color: var(--third-border-color);
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: var(--third-color);
  border-color: var(--third-border-color);
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

/*---------------------------------
  RESULTS
----------------------------------*/
.list-group-green .list-group-item {
  background-color: var(--third-color);
  border-top: var(--third-color);
  border-left-color: var(--third-color);
  border-right-color: var(--third-color);
  text-align: center;
  margin: 0;
  border-radius: 15px;
}

.list-group-green .list-group-item:hover {
  background-color: var(--third-hover-color);
}

.center-buttons {
  margin: auto;
  width: 50%;
  padding: 10px;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--first-color);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--first-color);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: var(--first-color);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: var(--first-color);
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--first-color);
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
